footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    background-color: rgba(0, 0, 0, 0.8);
}

footer p {
    color: #fff;
    font-size: 1em;
    text-align: center;
}

@media (max-width: 768px) {
    footer p {
        font-size: 0.85em;
    }
}