@import url('https://fonts.googleapis.com/css2?family=Jaldi:wght@400;700&display=swap');

body{
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100dvh;
    font-size: 1em;
    background-image: url("../assets/Social\ Media\ Snoopy_\ Keeping\ Peanuts\ Relevant.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90%;
    background-color: rgba(0, 0, 0, 0.4);
}

h1{
    font-family: 'Secular One';
    color: #fff;
    font-size: 2.5em;
}

@media (max-width: 768px) {
    h1 {
        font-size: 1.8em;
    }

    p {
        font-size: 0.9em;
    }
}
